*{
margin: 0px;
padding: 0px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }
    





.logo{



padding: 10px;
display: flex;
align-items: center;
gap: 20px;
margin-left: 130px;
}

.G{
    
    color:#ff00ea ;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}


.header-h1{

    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.menu{
margin-right: 130px;

}

.menu ul {

display: flex;
justify-content: center;
align-items:center;
gap: 30px;



}

.menu ul li{
list-style: none;


}

.menu ul li a{
gap: 20px;
text-decoration: none;
list-style: none;
color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }

.follow{

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px; 

}    


.header-sec2{
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
height:auto;



}

.header-sec1-write{
display: flex;
flex-direction: column;   
width: 600px; 
height: 700px;   
margin-left:0px;
background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

}

.p-all{

margin-left:0px;
}


.header-sec1-pic{

    width:730px; 
    height: 700px;
    overflow: hidden;

}

.header-ah1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top:150px;
  
}

.header-ah2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color:rgb(174, 0, 255);
    background-clip: text;
}

.p-1{
    color: #534C64;
    margin-top: 20px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-left:110px;
}



.p-2{
    color: #534C64;
    font-family: Work Sans;
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-left:110px;
}

.p-3{
    color: #534C64;
    margin-top: 20px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-left:110px;

}

.header-btn{
margin-top:30px ;
}

.btn1{
width: 130px;  
height:50px;  
margin-right:0px;
margin-left:110px ;
border-radius:30px;
color: #FFF;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border-style: none;
background-color:#FF42A5;
}

.btn2{
width: 130px;  
height:50px;  
margin-left: 20px;
border-radius:30px;
color: #FFF;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border-style: none;
background-color: #4EC5F7;
}

.img18{
width:80%;
margin-left: 100px;
}



.main-sec1{
margin-top: 140px;
text-align: center;
width: 100%;
height: 200px;
}

.main-h1b{
    color: #0B0223;
    
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.p1b{

    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;

}

.fun{

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:rgba(174, 0, 255, 0.596) ;
}

.card{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height:400px;

    }







.card, .fang1{


    display: flex;
    justify-content:center;
    align-items: center;
  

}

.rec1{

width: 250px;
height: 300px;
padding: 15px;
margin-left: 80px;
position: relative;
}

.rec2{
    width: 250px;
    height: 300px;
    padding: 15px;
    position: relative;

}


.rec3{

    width: 250px;
    height: 300px;
    padding: 15px;
    position: relative;
}


.rec4{
    width: 250px;
    height: 300px;
    padding: 15px;
    position: relative;
}





.img-a1{

position: relative;

}

.img-a2{
    position: relative;
}
.img-a3{
    position: relative;
}

.img-a4{
    position: relative;
}

.rec1:hover{
background-size:30px;
background-color: #0c0b0cc4;
opacity: 0.7;
padding: 0px;
background-size: auto;
border-radius: 10px;
transition: all 0.3s ease-in-out;

}
.rec2:hover{
    background-size:30px;
    background-color: #0c0b0cc4;
    opacity: 0.7;
    padding: 0px;
    background-size: auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    
    }
    .rec3:hover{
        background-size:30px;
        background-color: #0c0b0cc4;
        opacity: 0.7;
        padding: 0px;
        background-size: auto;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        
        }
        .rec4:hover{
            background-size:30px;
            background-color: #0c0b0cc4;
            opacity: 0.7;
            padding: 0px;
            background-size: auto;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            
            }


.fang1{
position: absolute;
left:130px;
top:150px;

}

.fang0{
    position: absolute;
    left:210px;
    top:150px;
    
    }



.main-sec2{

display: flex;
justify-content:center;
align-items: center;

}


.img-c1{
margin-top: 200px;
width: 100%;
height: 100%;
margin-left: 100px;
margin-bottom: 400px;
}

 .reg67{
position: relative;

}

.rec78{
position: absolute;
top:2070px;
right:600px;

}


.main-write-c1{
width:500px;
margin-bottom: 100px;
}

.purple{

  color:rgb(174, 0, 255);


}
.main-b-h1{
width: 426px;

font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.main-b-p1{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 400px;
    margin-top: 30px;

}
 .main-sec-c3{

background-color: rgba(255, 66, 165, 0.03) ;
 height: 300px;
 

 }

.main-d5{

width: auto;
height: 170px;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;

}
.main-d4{

    width: auto;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:50px;
}

.main-btn-btn {
width: 190px;
border-radius: 30px;
display: flex;
justify-content:space-between;
align-items: center;
gap: 22px;
background-color: #fff;
border: none;
}

.main-btn3{
margin-right: 10px;

}


.img-f2{

width: 40px;
height: 40px;
padding:4px;
}

.main-btn-btn:hover .main-btn3{

color: #ff00ea;
transition: all 0.4s ease-in-out;
}

.main-btn-btn:hover{

border: 1px solid  #ff00ea;
transition: all 0.4s ease-in-out;
}

.footer-a1{

width: auto;
height:636px;
background: #0B0223;

}



.logo1{

    padding: 10px;
    display: flex;
   justify-content: center;
   align-items: center;
    gap: 20px;
   

}

.header-h1h{


    color: #fff;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;


}

.img-foot{

    margin-top: 110px;

}

.G2{

  
    color:#ff00ea ;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;



}




.footer-list1{

display: flex;
justify-content: center;
align-items: center;
gap: 30px;

}

.footer-list1 li{
margin-top: 50px;
list-style:none;
color: #fff;  
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top:60px ;
}

.footer-alist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top:50px ;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;

}


.footer-p{

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:30px ;


}


@media screen and (max-width:425px) {





    .container {
      flex-direction: column;
      width: 100%;
      height: 300px;
      
    }
  
    .logo {
     margin-right: 30%;
    }
  
    

    .header-ul1{
        flex-direction: column;
        
    }
  
    .menu {
      margin-left: 30%;
    }
  
   
  
    .follow {
        margin-bottom: 50px;
    }
  
    .header-sec2 {
     flex-direction: column;
     width:100%;
    }
    .header-sec1-write{

    width: 80%;

    }
   .header-btn{
    display: flex;
    margin-right: 60px;


   }

   .header-sec1-pic{
    width: 100%;
   }

   .img18{

width:67% ;
margin-top: 100px;

   }
  
    

.main-sec1{
width: 100%;
margin-bottom: 70px;

}

.main-sec1,.p1b{

font-size: 15px;

}


.main-sec1,.main-h1b,.fun{

    width:100%;
    font-size: 30px;
    }



.main-h1b{
text-align: center;
width:60%;
margin-left: 100px;
}

.card{

flex-direction: column;
width: 100%;
height: auto;

}
.rec2{

width:95%;

}


.rec1{
    margin-right: 100px;
    width:60%;

}

.rec3{
    margin-left:11px;
    width:90%;
    
    }
    .rec4{
        margin-left:22px;
        width:84%;
        
        }
.main-sec2{
  
flex-direction: column;
width:fit-content;
}

.img-c1{
width: 100%;

}


.rec67{
width: 55%;
position: relative;
}

.rec78{
    width:33%;
position: absolute;
top:3950px;
right:20px;

}

.main-write-c1{

margin-left:50px;

}
.main-b-p1{

width: 70%;


}

.main-sec-c3{

width: 100%;
height:600px;

}

.main-d5{
width: 70%;
margin-bottom: 110px;


}

.main-d4{
  

    margin-bottom: 110px;
    width:70%;
    
}

.main-btn-btn, .main-btn3{
font-size:10px;

}


.main-btn-btn{

width:50%;
padding: 0%;

}







.main-btn-btn:hover .main-btn3{

    color: #ff00ea;
    transition: all 0.4s ease-in-out;
    }
    
    .main-btn-btn:hover{
    
    border: 1px solid  #ff00ea;
    transition: all 0.4s ease-in-out;
    }

.footer-a1{
width: 100%;
padding: 0px 15px;

}
.footer-list1 li,.footer-alist li,.footer-p{
font-size:11px;
font-weight: bolder;

}


  }